/* Header container styles */
.header-top {
  display: flex;
  width:100vw;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #e23e57;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* App name styling */
.app-name {
  font-size: 24px;
  font-weight: bold;
}

.header-center {
  display: flex;
  justify-content: center;
  flex: 1;
}

.ul1 {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.li1 .links {
  color: white;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart-image {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.extra-btn{
  border: 1px solid red;
  background-color: black;
}

.log-button {
  background-color: white;
  color: #e23e57;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.cartLength {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  height:10px
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .header-center {
    display: none;
  }

  .cart{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .hamburger {
    display: block;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #e23e57;
    z-index: 1001;
  }

  .mobile-nav .li1 {
    padding: 10px 20px;
    border-bottom: 1px solid white;
  }

  .log-button {
    padding: 4px 10px;
  }

  .cartLength {
    left: 60%;
    cursor: pointer;
  }
}

.mobile-menu-icon{
  font-size: 28px;
  display: none;
}


@media (max-width:480px){
  .header-center{
    display: none;
  }

  .header-right{
    justify-content: flex-end;
  }

  .header-left{
    margin:0 auto;
  }

  .mobile-menu-icon{
    display: block;
    position: absolute;
    left: 15px;
    z-index: 999;
  }
   .header-right .cart {
    display: flex !important;
    position: absolute;
    right: 15px;
    top: 4px;
    align-items: center;
  }
}

.links {
  font-size: 18px;
  padding: 10px 0;
  text-decoration: none;
  color: black;
}


