*{
  font-family: arial;
}
.header-top{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:#e23e57;
  padding:10px 0px;
  /* position: absolute;
  top:0px;
  left:0px;
  right:0px;
  z-index: 100; */
}
.ul1{
  list-style-type: none;
}
.li1{
  display: inline-block;
  margin-left: 10px;
  margin-right:10px;
  font-size: 22px;
}
.li1:hover{
  color: white;
}

.li1:active{
  color:red;
}
.app-name{
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.cart{
  margin-left:330px;
  margin-right: 15px;
}

.links{
  text-decoration: none;
  color: black;
}


.foodie-img{
  width:100px;
  height:80px;
}

.footer-ul{
  color:rgb(196, 195, 195);
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0px;
}
.li-footer{
  
  margin-right:10px;
  margin-left:10px;
}
.footer-part{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:30px;
}
.lan1{
  margin-right:20px;
  color:rgb(196, 195, 195);
}
.from{
  color:rgb(196, 195, 195);
}
.login-page{
  background-color:  rgb(3, 3, 3);
  padding-top:20px;
}
.login-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.first,.second{
 border:1px solid white; 
 width:340px;
 height:430px;
 padding:10px;
 border-radius: 8px;
 display: flex;
 align-items: center;
 flex-direction: column;
}
.second{
  height:100px;
  margin-top:30px;
  justify-content: center;
}
.login-header{
  color: white;
  text-align: center;
  font-style: italic;
  margin-bottom: 40px;
  margin-top: 20px;
}

.inputs{
  background-color: rgb(22, 20, 20);
  border: 2px solid rgb(42, 42, 42);
  padding:6px 9px;
  margin-bottom:15px;
  color:white;
}
.submit-button{
  width:215px;
  background-color: #e23e57;
  color: white;
  border-radius: 5px;
  margin-bottom:20px;
}
.error{
  width:215px;
  font-size: 12px;
  color: red;
}
.or{
  color: white;
  display: flex;
  align-items:center;
}
.nothing{
  color:white;
  width:100px;
  margin:10px;
}

.flog{
  color:#e23e57;
  font-weight: bold;
  margin-bottom:18px;
}

.fpass{
  color:white;
}

.second-one{
  color:white;
}
.second span{
  color: #e23e57;
  margin-left:5px;
}
.get{
  color:white;
  margin-top:15px;
}
.icons{
  display:flex;
  margin-top: 20px;
}
.imgs img{
  width:134px;
  height:40px;
  margin-right: 15px;
}
.cart-image{
  width:80px;
  cursor: pointer;
}
.logout{
  border-radius: 5px;
  border:none;
  color: black;
  padding:5px 9px;
  font-weight: bold;
}
.con1{
  text-align: center;
  padding-top:40px;
  margin-bottom: 20px;
 }
.offer-names{
  font-size:30px;
}
.offer-button{
  border:none;
  background-color:#e23e57;
  color: white;
  font-weight: bold;
  padding:8px 14px;
  border-radius: 5px;
}
.offers{
  border:2px solid black;
}
.home-page{
  background-color: #e8e5e5;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom:0px;
}

.title-home1{
  text-align: center;
  font-weight: bold;
  margin-top:40px;
}

.title-para{
  color:#717c77;
  text-align: center;
  max-width: 500px;
}

.home-welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 26px;
}

.colort{
  color: #e23e57;
}

.sl{
  font-weight: bold;
  margin-bottom: 18px;
}

.special-about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spl-divs{
  max-width: 915px;
}

.col-div,.col-div3{
  border-radius: 5px;
    padding: 27px 27px 46px 52px;
    background: #f4fff5;
    margin:10px;  
}
.col-div2{
  background: rgba(232, 246, 255, 0.3);
  margin:10px;
  margin-top:25px; 
  border-radius: 5px;
    padding: 27px 27px 46px 52px;
}
.col-div3{
  background: #f1ffe9;
}

/* navbar */
.activeNav {
  color: white;
  border-bottom: 2px solid white;
  transition: all 0.2s ease-in-out;
}

/* home-page Css */
.h-jpg{
  width:60px;
  height:60px;
  margin-left:120px;  
}
.col-div,.col-div2,.col-div3{
  width:270px;
  height:201px;
  border-radius: 5px;
}
.subtitle,.subtitle2,.subtitle4{
  font-size: 22px;
  font-weight: 700;
  color: #e2723e;
}
.subtitle2{
  color:#047bc7;
}
.subtitle4{
  color:#8800e7;
}
.home-banner{
  width: 1480px;
}


/* orders-css */
.order-container{
  height:600px;
  padding-top:90px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ordersEmpty{
  width:500px;
  height:400px;
}

/* footer css */

.charan{
  background-color: rgba(3, 157, 85, 0.05);
}
.sub-class{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:35px;
}
.us{
  display: flex;
  flex-direction: column;
}
.sub-title{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
}
.sub-title2{
  color:grey
}
.ftr{
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top:50px; */
}
.ftr-cont{
  padding:50px 0px;
  background-color: rgb(3, 3, 3);
}
.sub-input{
  margin-left:150px;
}
.s-email{
  padding:5px 8px;
  border:none;
  width: 400px;
  width:364px;
  height:48px;
  margin:0px 12px;
  font-size: 15px;
  font-family: arial;
  font-weight: bold;
  cursor:text;
}

.email-submit{
  border:none;
  background-color: green;
  color:white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  padding:10px 15px;
}

/* Restaurant page */
.total-respage{
  background-color: #e7e7e8;

}
.restaurant-page{
  display:flex;
  justify-content: center;
  align-items: center;
}

.popular-res{
  padding:10px;
  max-width:1300px;
  background-color: white;
  margin:20px 0px;
  padding:30px;
  border-radius: 10px;
}

.popular{
  font-weight: bold;
}

.selection1{
  border-radius:10px 0px 0px 10px;
  width:80px;
}
.selection3{
  border-radius:0px 10px 10px 0px;
  width:80px;
}
.selection2{
  border-left:0px;
  border-right:0px;
  width:80px;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* respage */

.jersi{
  display:flex;
  flex-direction: column;
}

#login-{
  background-color: white;
  color: black;
}
.charan{
  width:100px;
}